@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* import font from google */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
html,
body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
/* for all a */
a{
    text-decoration: none;
    color: #000;
}

body {
    font-size: 1.4rem;
}

ul{
    list-style: none;
}
header{
    position: sticky;
    top: 0;
    background: #fff;
} 
nav{
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li{
    font-size: 1.8rem;
    border-bottom: 2px solid transparent;
}
nav ul li:hover{
    border-bottom: 2px solid rgb(255, 251, 0);
    cursor: pointer;
}
nav i{
    font-size: 2.5rem;
}

/* main */
main{
    max-width: 1100px;
    margin: 0 auto;
}
/* Hero Section */
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero_content h1{
    font-size: 6.5rem;
    line-height: 1.2;
}
.hero_content h4{
    font-size: 2.5rem;
    font-weight: 320;
}
.hero_image img{
    border-radius: 5rem;
}

/* Long card section */
.h-card{
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
}
.card_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.status{
    display: flex;
    justify-content: space-between;
}
.read-btn{
    all: unset;
    font-weight: 600;
    border-bottom: 1px solid transparent;
}
.read-btn:hover{
    border-bottom: 1px solid #ccc;
}

/* small Card Section */
.v_card{
    display: flex;
    flex-direction: column-reverse;
    max-width: 320px;
    margin: 2rem 1rem;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.v_card:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    place-items: center;
}
.v_card img{
    width: 100%;
    height: 100%;
}


/* Footer section */
footer{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
}
footer ul{
    display: flex;
    gap: 2rem;
}
footer ul li{
    font-size: 1.8rem;
}

/* Post Page */
.container header nav{
    max-width: 950px;
}
.banner_image img{
    width: 100%;
}
.post h1{
    font-size: 3rem;
}
.post{
    max-width: 950px;
}
.about-auther{
    display: flex;
    gap: 1rem;
}
.post hr{
    margin: 3rem 0;
}

article{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem;
}