a
{
    text-decoration: underline;
    font-size: 60px;
}

/* There are 4 state of links g
1:link , 2:visited , 3:hover , 4:active */

a:link 
{
    color: yellowgreen;
}

a:visited
{
    color: yellow;

}

a:hover
{ 
    color: blue;

}

a:active
{
    color: red;

}